<h2 class="text-center my-5">{{isEditing? 'Edit' : 'Create'}} Employee</h2>

<div *ngIf="errorMessage != ''">
    {{errorMessage}}
</div>

<form (ngSubmit)="onSubmit()" class="border rounded p-5 w-50 mb-5 mx-auto">
    <div class="form-floating mb-3">
        <input class="form-control" id="floatingInput" type="text" name="firstName" [(ngModel)]="employee.firstName"
            placeholder="First name" />
        <label for="floatingInput">First Name</label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" id="floatingInput" type="text" name="lastName" [(ngModel)]="employee.lastName"
            placeholder="Last name" />
        <label for="floatingInput" class="form-label">Last Name</label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" id="floatingInput" type="phone" name="phone" [(ngModel)]="employee.phone"
            placeholder="Phone" />
        <label class="form-label" for="floatingInput">Phone</label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" id="floatingInput" type="email" name="email" [(ngModel)]="employee.email"
            placeholder="email" />
        <label class="form-label" for="floatingInput">Email</label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" id="floatingInput" type="text" name="position" [(ngModel)]="employee.position"
            placeholder="Position" />
        <label class="form-label" for="floatingInput">Position</label>
    </div>
    <button type="submit" class="btn btn-primary">{{isEditing? 'Edit' : 'Create'}}</button>
</form>