<h2 class="text-center my-5">{{isEditing? 'Edit' : 'Create'}} Employee</h2>

<div class="text-danger text-center" *ngIf="errorMessage != ''">
    {{errorMessage}}
</div>

<form *ngIf="errorMessage === ''" (ngSubmit)="onSubmit()" #employeeForm="ngForm"
    class="border rounded p-5 w-50 mb-5 mx-auto">
    <div class="form-floating mb-3">
        <input required #firstName="ngModel" class="form-control" id="floatingInput" type="text" name="firstName"
            [(ngModel)]="employee.firstName" placeholder="First name" />
        <label for="floatingInput">First Name*</label>
        <div *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)">
            <div class="text-danger" *ngIf="firstName.errors?.['required']">First name is required.
            </div>
        </div>
    </div>
    <div class="form-floating mb-3">
        <input required #lastName="ngModel" class="form-control" id="floatingInput" type="text" name="lastName"
            [(ngModel)]="employee.lastName" placeholder="Last name" />
        <label for="floatingInput" class="form-label">Last Name*</label>
        <div *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)">
            <div class="text-danger" *ngIf="lastName.errors?.['required']">Last name is required.
            </div>
        </div>
    </div>
    <div class="form-floating mb-3">
        <input required #phone="ngModel" class="form-control" id="floatingInput" type="phone" name="phone"
            [(ngModel)]="employee.phone" placeholder="Phone" />
        <label class="form-label" for="floatingInput">Phone*</label>
        <div *ngIf="phone.invalid && (phone.touched || phone.dirty)">
            <div class="text-danger" *ngIf="phone.errors?.['required']">Phone is required.
            </div>
        </div>
    </div>
    <div class="form-floating mb-3">
        <input required email #email="ngModel" class="form-control" id="floatingInput" type="email" name="email"
            [(ngModel)]="employee.email" placeholder="email" />
        <label class="form-label" for="floatingInput">Email*</label>
        <div *ngIf="email.invalid && (email.touched || email.dirty)">
            <div class="text-danger" *ngIf="email.errors?.['required']">Email is required.
            </div>
            <div class="text-danger" *ngIf="email.errors?.['email']">Email is invalid.
            </div>
        </div>
    </div>
    <div class="form-floating mb-3">
        <input required #position="ngModel" class="form-control" id="floatingInput" type="text" name="position"
            [(ngModel)]="employee.position" placeholder="Position" />
        <label class="form-label" for="floatingInput">Position*</label>
        <div *ngIf="position.invalid && (position.touched || position.dirty)">
            <div class="text-danger" *ngIf="position.errors?.['required']">Position is required.
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">{{isEditing? 'Edit' :
        'Create'}}</button>
</form>